<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The services that we provide</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        {%include 'navbar.html'%}
        <h1>Services</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ad consequuntur repudiandae, quae libero ratione iste blanditiis dignissimos commodi totam qui eum? Officia exercitationem ullam adipisci beatae? Ea dolorem hic autem quos delectus animi beatae. Magnam pariatur laboriosam inventore fugiat, vitae eligendi voluptates labore impedit? Earum quibusdam ad obcaecati quaerat.</p>
        <button>Contact Us</button>
    </div>
</body>
</html>